{% extends "layout.html" %}

{% block content %}
  <h1>Cart</h1>
  <h2>
    Place Order
    <a href="{{ url_for('place_order') }}" class="btn btn-primary">Place Order</a>
  </h2>
  <hr>
  {% if cart %}  
    {% for item in cart %}
      <h3>
        <a href="{{ url_for('view_product', product_id=item.product_id) }}">{{ item.product.name }}</a>
      </h3>
      <p>
        <strong>Price</strong>: &#8377;{{ item.product.price }}<br>
        <form method="POST" action="{{ url_for('update_cart', product_id=item.product_id) }}">
          <input type="number" name="quantity" min="1" max="{{ item.product.quantity }}" value="{{ item.quantity }}"> 
          <button type="submit" class="btn btn-primary">Update</button>     
        </form>
        <form method="POST" action="{{ url_for('remove_from_cart', product_id=item.product_id) }}">
          <button type="submit" class="btn btn-danger">Remove</button>
        </form>
      </p>
      <p>
        <strong>Subtotal</strong>: &#8377;{{ item.product.price * item.quantity }}
      </p>
    {% endfor %}
    <hr>
    <h3>
      <strong>Total</strong>: &#8377;{{ total }}
    </h3>
  {% else %}
    <h3>Your Cart is empty</h3>
  {% endif %}
{% endblock content %}