{% extends 'layout.html' %}

{% block content %}
  {% for product in products %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ product.name }}</a>
          <small class="text-muted">{{ product.manufacture_date.strftime('%d-%m-%Y') }}</small>
        </div>
        <p class="article-content">
          Price: &#8377;{{ product.price }}
        </p>
        <p class="article-content">
          Category ID: {{ product.category_id }}
        </p>
        <p class="article-content">
          Quantity: {{ product.quantity }}
        </p>
        <p class="article-content">
          Man. Date: {{ product.manufacture_date }}
        </p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}