{% extends "layout.html" %}

{% block content %}
  {% for product in products %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <h4>
            <a class="mr-2" href="{{ url_for('view_product', product_id=product.id) }}">{{ product.name }}</a>            
          </h4>
        </div>
        <p class="article-content">
          <strong>Price</strong>: &#8377;{{ product.price }}
        </p>
        <p class="article-content">
          <strong>Category</strong>:  <a href="{{ url_for('view_category', category_id=product.category.id) }}">{{ product.category.name }}</a>
        </p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}