{% extends "layout.html" %}

{% block content %}
  <h1>Orders</h1>
  <hr>
  {% if orders %}
    {% for order in orders %}
      <p>
        <strong>Order Name</strong>: {{ order.product.name }}<br>
        <strong>Order Quantity</strong>: {{ order.quantity }}<br>
        <strong>Order Total</strong>: &#8377;{{ order.price }}<br>
        <strong>Order Date</strong>: {{ order.datetime_ordered }}<br>
      </p>
    {% endfor %}
    <h3>Grand Total: &#8377;{{ grand_total }}</h3>
  {% else %}
    <h3>You have not placed any orders yet</h3>
  {% endif %}

{% endblock content %}