{% extends "layout.html" %}

{% block style %}
  <style>
    .right {
      float: right;
    }
  </style>
{% endblock style %}

{% block content %}
  <h1>
    My Orders
    <button type="button" class="btn btn-primary right" onclick="window.print();">
      <i class="fa fa-print"></i>
      Print
    </button>
  </h1>
  <hr>
  {% if transactions %}
    {% for transaction in transactions %}
      <p>
        <strong>Transaction ID</strong>: {{ transaction.id }}<br>
        <strong>Transaction DateTime</strong>: {{ transaction.datetime }}<br>
      </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {% for item in transaction.orders %}
            <tr>
              <td>
                <a href="{{ url_for('view_product', product_id=item.product_id) }}">{{ item.product.name }}</a>
              </td>
              <td>{{ item.quantity }}</td>
              <td>&#8377;{{ item.product.price }}</td>
              <td>&#8377;{{ item.product.price * item.quantity }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
      <h3>
        Total: &#8377;{{ total[transactions.index(transaction)] }}
      </h3>
    {% endfor %}
  {% else %}
    <h3>You have not placed any orders yet</h3>
  {% endif %}

{% endblock content %}