<div class="search">
  <form>
    <label for="parameter">Search By</label>
    <select class="form-select" name="parameter" id="parameter">
      {% for param in parameters %}
        {% if param == parameter %}
          <option value="{{ param }}" selected>{{ parameters[param] }}</option>
        {% else %}
          <option value="{{ param }}">{{ parameters[param] }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <div class="input-group">
      <input type="Search" class="form-control input-bar" placeholder="Search" name="query" id="query" value="{{ query }}">
      <!-- Clear button -->
      <input type="reset" class="btn btn-secondary" value="Clear">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="submit" style="background-color: white;">
          <i class="fa fa-search" style="color: black;"></i>
        </button>
      </div>
    </div>
  </form>
</div>